@model ProcCore.Business.DB0.Product
@{
    ViewBag.Title = Model.model_type;
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">產品介紹</a></li>
    <li><a href="~/Products?id=@Model.category_id">@ViewBag.C_name</a></li>
}
@section overlay {
    <div class="md-modal md-effect-7" id="buy">
        <form class="md-content">
            <h3>產品下單</h3>
            <table>
                <tr>
                    <th>產品名稱</th>
                    <th>數量</th>
                </tr>
                <tr>
                    <td>藍光DVD播放機【BD-320】</td>
                    <td>1</td>
                </tr>
            </table>
            <button class="btn btn-primary">確認訂單</button>
            <button class="btn btn-primary">繼續購買</button>
            <button class="md-close">X</button>
        </form>
    </div>
}


<section class="row">

    <div class="col-7 col-sm-12 pro-pic">
        <img src="@Model.imgsrc" alt="產品圖">
    </div><!-- pro-pic //-->

    <div class="col-5 col-sm-12 pro-info">
        <h3><small>【型號】@Model.model_type</small>@Model.product_name</h3>
        <div class="text-right">
            <select name="name" id="" class="sel1">
                @foreach (var option in Model.model_select)
                {
                    if (option.val == Model.product_id)
                    {
                        <option value="@option.val" selected>@option.Lname</option>
                    }
                    else
                    {
                        <option value="@option.val">@option.Lname</option>
                    }
                }
            </select>

            <select name="num" id="" class="sel2">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <button class="btn md-trigger" data-modal="buy">我要下單</button>
        </div>
    </div><!-- pro-info //-->
</section>

@*
    產品更多內容放下面，使用可上傳圖片的編輯器
    若無內容，下列html不會出現
*@
<section class="other">
    @* 下為內容範例，實際online不會出現這張圖 *@
    @Html.Raw(Model.product_content)
</section>
