<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@Resources.Res.System_Name:@ViewBag.Title</title>
    <!--[if lt IE 9]><script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->
    @if (ViewBag.IsFirstPage) {
        <link rel="stylesheet" href="~/Content/css/index.css">
    } else {
        <link rel="stylesheet" href="~/Content/css/page.css">
    }
    <link rel="stylesheet" href="~/Content/css/grid.css">
    @RenderSection("CSS", required: false)
</head>

<body class="@ViewBag.BodyClass">

    <div id="wrapper">

        <header id="header">

            @* <h1 onclick="location.href='@Url.Content("~/index")'" title="回首頁">@Resources.Res.WebLayoutHome</h1> *@
            <h1 onclick="location.href='@Url.Content("~/index")'" title="回首頁">統城科技股份有限公司</h1>

            <nav class="top-nav">
                <a href="~/index">HOME 首頁</a>
                <a href="">LOGIN 登入</a>
            </nav>

            <nav id="menu">
                <a href="~/AboutUs">公司簡介</a>
                <a href="~/News">最新消息</a>
                <a href="~/Products">產品介紹</a>
                <a href="~/FAQ">常見問題</a>
                <a href="~/Service">線上諮詢</a>
                <a href="~/ContactUs">聯絡我們</a>
            </nav>

        </header>

        @if (ViewBag.IsFirstPage) {

            @RenderBody()

        } else {

            <main>
                <aside>
                    <header>@ViewBag.Title</header>
                    <nav>
                        <a href="~/Products/list" class="current">藍光DVD播放機</a>
                        <a href="~/Products/list">數位影音光碟機</a>
                        <a href="~/Products/list">數位電視接收機</a>
                        <a href="~/Products/list">數位天線</a>
                        <a href="~/Products/list">手提音響</a>
                        <a href="~/Products/list">行動型多媒體音響</a>
                        <a href="~/Products/list">電視壁掛架</a>
                        <a href="~/Products/list">可充式電蚊拍</a>
                        <a href="~/Products/list">充電式探照燈</a>
                        <a href="~/Products/list">紫外線烘碗機</a>
                    </nav>
                </aside>

                <ul class="breadcrumb">
                    <li><a href="">Home</a></li>
                    @RenderSection("breadCrumb", required: false)
                    <li>@ViewBag.Title</li> @* 當前頁名稱 EX.藍光DVD播放機 *@
                </ul>

                @RenderBody()

            </main><!-- main //-->
        }

    </div><!-- wrapper //-->

    <a href="#header" class="goTop">T</a>

    <footer id="footer">
        <div class="wrap">
            <div class="copyright col-8 col-sm-12"><em>Smith 史密斯</em>&copy; 2015</div>
            <ul class="list-unstyled col-4 col-sm-12 off-set-lg-1">
                <li>桃園市中壢區龍興路401巷26號</li>
                <li><em>T</em>03-4369557</li>
                <li><em>F</em>03-4364677</li>
            </ul>
        </div>
    </footer>

    <script src="~/Scripts/jquery/jquery-2.1.4.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>