@{

    var sidebar = (List<ProcCore.Business.DB0.m_ProductCategory>)ViewBag.Sidebar;
}
<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@Resources.Res.System_Name:@ViewBag.Title</title>
    <!--[if lt IE 9]><script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/css/grid.css">
    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/index.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/page.css">
    }
    @RenderSection("CSS", required: false)
</head>

<body class="@ViewBag.BodyClass">

    <div class="md-modal md-effect-7" id="login">
        <form class="md-content" id="MLogin">
            <h3>LOGIN 會員登入</h3>
            <input type="text" name="id" id="m_member_id" placeholder="請輸入會員帳號(email)" required>
            <input type="password" name="pwd" id="m_member_pwd" placeholder="請輸入會員密碼" required>
            <p class="row">
                <input type="text" id="m_Mlogin_validate" placeholder="請輸入驗證碼" class="float-l" required>
                <img alt="驗證碼" id="m_Mlogin_img" src="~/_Code/Ashx/ValidateCode.ashx?vn=MemberLogin" class="float-r" />
            </p>
            <button class="btn btn-primary">登入</button>
            @*<a class="md-trigger joinus" data-modal="join">無帳號，我要加入會員</a>*@
            <a class="joinus">新會員申請，請打連絡電話(03)4369557</a>
            <button class="md-close" type="button">X</button>
        </form>
    </div>
    <div class="md-modal md-effect-7" id="join">
        <form class="md-content" id="MApply">
            <h3>JOIN US 加入會員</h3>
            <input type="text" name="member" id="ma_member_name" placeholder="請輸入會員名稱" required>
            <input type="email" name="email" id="ma_member_email" placeholder="請輸入會員email" required>
            <input type="text" name="id" id="ma_member_id" placeholder="請輸入會員帳號" required>
            <input type="password" name="pwd" id="ma_member_pwd" placeholder="請輸入會員密碼" required>
            <p class="row">
                <input type="text" id="m_MApply_validate" placeholder="請輸入驗證碼" class="float-l" required>
                <img alt="驗證碼" id="m_MApply_img" src="~/_Code/Ashx/ValidateCode.ashx?vn=MemberApply" class="float-r" />
            </p>
            <button class="btn btn-primary">送出申請</button>
            <p>感謝您的加入，我們將盡快作業，請等候通知</p>
            <button class="md-close" type="button">X</button>
        </form>
    </div>
    @RenderSection("overlay", required: false)

    <div id="wrapper">

        <header id="header">

            @* <h1 onclick="location.href='@Url.Content("~/index")'" title="回首頁">@Resources.Res.WebLayoutHome</h1> *@
            <h1 onclick="location.href='@Url.Content("~/index")'" title="回首頁">統城科技股份有限公司</h1>

            <nav class="top-nav">
                <a href="~/index">HOME 首頁</a>
                @if ((Boolean)ViewBag.isLogin == true)
                {
                    <a href="~/Login/ajax_MemberLogout">@ViewBag.MName , 登出</a>
                }
                else
                {
                    <button class="md-trigger" data-modal="login">LOGIN 登入</button>
                }
            </nav>

            <button class="menu-trigger">主選單</button>
            <nav id="menu">
                <header class="toggle">MENU</header>
                <a href="~/AboutUs">公司簡介</a>
                <a href="~/News">最新消息</a>
                <a href="~/Products">產品介紹</a>
                <a href="~/FAQ">常見問題</a>
                <a href="~/Service">線上諮詢</a>
                <a href="~/ContactUs">聯絡我們</a>
            </nav>

        </header>

        @if (ViewBag.IsFirstPage)
        {

            @RenderBody()

        }
        else
        {

            <main>
                <aside>
                    <header>@ViewBag.Title</header>
                    <button class="pro-menu">產品選單</button>
                    <nav>
                        @if ((Boolean)ViewBag.isLogin == true)
                        {
                            <a href="~/Products/Order">【產品下單】</a>
                        }
                        @foreach (var item in sidebar)
                        {
                            if (ViewBag.C_id == item.product_category_id)
                            {
                                <a href="~/Products?id=@item.product_category_id" class="current">@item.category_name</a>
                            }
                            else
                            {
                                <a href="~/Products?id=@item.product_category_id">@item.category_name</a>
                            }
                        }
                    </nav>
                </aside>

                <ul class="breadcrumb">
                    <li><a href="">Home</a></li>
                    @RenderSection("breadCrumb", required: false)
                    <li>@ViewBag.Title</li> @* 當前頁名稱 EX.藍光DVD播放機 *@
                </ul>

                <div id="content">
                    @RenderBody()
                </div>

            </main><!-- main //-->
        }

    </div><!-- wrapper //-->

    <a href="#header" class="goTop">▲</a>

    <footer id="footer">
        <div class="wrap">
            <div class="copyright col-xs-12"><em>Smith 史密斯</em>&copy; 2015</div>
            <ul class="list-unstyled col-xs-12 float-r">
                <li>桃園市中壢區龍興路401巷26號</li>
                <li><em>T</em>03-4369557</li>
                <li><em>F</em>03-4364677</li>
            </ul>
        </div>
    </footer>

    <div class="md-overlay"></div><!-- the overlay element -->

    <script src="~/Scripts/jquery/jquery-2.1.4.min.js"></script>
    <script src="~/Content/js/modal/classie.js"></script>
    <script src="~/Content/js/modal/modalEffects.js"></script>
    <script src="~/Content/js/theme.js"></script>
    <script type="text/javascript">
        var gb_approot = '@Url.Content("~")';
    </script>
    <script src="~/Scripts/build/func/w-member.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>